<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>
        <!-- properties -->
        <!-- JDBC Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tp4_db</property>
        <property name="hibernate.connection.username">amine</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">false</property>
        <!-- Enable Hibernate to automatically create/drop tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Additionnal : Relating a session context to one thread -->
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="entities.User" />
        <mapping class="entities.Produit" />
    </session-factory>
</hibernate-configuration>